@model IEnumerable<_15may2021_2.Models.usuariorol>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            UsuarioRol
        </th>
        <th>
            Rol
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @_15may2021_2.Controllers.UsuarioRolController.NombreUsuarioRol(item.idUsuario)        
           

        </td>
        <td>
            @_15may2021_2.Controllers.UsuarioRolController.NombreRol(item.idRol)         
        </td>
       
    </tr>
}

</table>
