@model _15may2021_2.Models.producto_imagen

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de la imagen </h2>

<div>
    <h4>producto_imagen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Imagen Producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
           Producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_producto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar el usuario" , "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
